export BRIDGE_ACCENT_COLOR="#8C6AE5"
export BRIDGE_ACCENT_COLOR_DARK="#A185EB"
export BRIDGE_ACCENT_COLOR_FOREGROUND="#FEFEFE"
export BRIDGE_ACCENT_COLOR_FOREGROUND_DARK="#FEFEFE"
export BRIDGE_SUBDUED_COLOR="#9e9ba6"
export BRIDGE_FADED_COLOR="#D2D1D4"
