export BRIDGE_BACKGROUND_COLOR="#FEFEFE"
export BRIDGE_BACKGROUND_COLOR_DARK="#1D1B21"
export BRIDGE_FOREGROUND_COLOR="#08001E"
export BRIDGE_FOREGROUND_COLOR_DARK="#FEFEFE"
export BRIDGE_ACCENT_COLOR="#8C6AE5"
export BRIDGE_ACCENT_COLOR_DARK="#A185EB"
export BRIDGE_ACCENT_COLOR_FOREGROUND="#FEFEFE"
export BRIDGE_ACCENT_COLOR_FOREGROUND_DARK="#FEFEFE"
export BRIDGE_SUBDUED_COLOR="#9e9ba6"
export BRIDGE_FADED_COLOR="#D2D1D4"
export BRIDGE_FADED_COLOR_DARK="#514D59"
export BRIDGE_GROUPING_COLOR="#FAFAFA"
export BRIDGE_GROUPING_COLOR_DARK="#302D35"
